
html {
    text-align: center; /* Optional: center the text within the container */
    font-family: 'VCR';
    color: white;
}
@font-face {
    font-family: 'VCR'; /* Give your font a name */
    src: url('../Fonts/vcr.ttf')/* Specify the path to your font files */
    /* Add additional font file formats if needed */
}
body {
    background-image: url('https://raw.githubusercontent.com/the-currentsilas/the-currentsilas.github.io/main/uhq5zTcMPM3tOW_fbUz4PayDt_5pkEXdyXXoRWs3XOg.webp'); /* Replace with the path to your image file */
}
.blog {
    text-align: left;
}
